@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@source "../views/**/*.blade.php";
@source "../js/**/*.js";

html,
body {
    width: 100%;
    overflow-x: hidden;
}

[x-cloak] {
    display: none !important;
}